.footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px 170px;
}
.footer-top{
    display: flex;
    justify-content: space-around;
}
.footer-top-left p{
    font-size: 20px;
    max-width: 400px;
}
.footer-top-left{
    display: flex;
    align-items: center;
    gap: 35px;
}
.footer-email-input{
    display: flex;
    gap: 30px;
    padding:20px 30px;
    border-radius: 50px;
    background: #32323b;
    padding-right: 80px;
}
.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    font-family: outfit;
    font-size: 18px;
    color: #a0a0a0;   
}
.footer-subscribe{
     background: linear-gradient(270deg, #DF8908 80%,#B415FF 100%);
     font-size: 20px;
    
     cursor: pointer;
     transition: 0.3s;
     border-radius: 50px;
     padding: 22px 50px;
     margin-top: 20px;
}
.footer-subscribe:hover{
    transform: scale(1.1);
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
.footer-email-input:hover{
    border: 2px solid white;
}