.hero{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.hero h2{
    text-align:center;
    font-size:90px;
    font-weight: 600px;

}
.hero h2 span{
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1);
    background-clip: text;
     -webkit-text-fill-color: transparent;
}
.hero-action{
    
    gap:25px;
}
